<div class="container">
  <div class="row">
    <div class="profile-update col-lg9 col-md9 col-9">
      <h2>マイページ編集</h2>
        <%= form_with model:@user, local:true do |f| %>
        <div>
          <label for="inputName">名前</label>
          <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
        </div>
        <div>
          <label for="inputEmail">メールアドレス</label>
          <%= f.email_field :email, autofocus: true, id:"inputEmail", placeholder:"メールアドレス"%>
        </div>
        <div>
          <%= f.submit "変更を保存", class: "glyphicon glyphicon-pencil btn btn-success pull-right" %>
          <% end %>
        </div>
        <div class="edit-box">
          <%= link_to "退会する", unsubscribe_users_path, class: "glyphicon glyphicon-tint btn btn-danger"%>
        </div>
    </div>
  </div>
</div>
