<!DOCTYPE html>
<html>
  <head>
    <title>Memory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
  </head>

  <body>
    <header id="global-head">
      <h1 id="brand-logo">Memory</h1>
    </header>
    <div id="nav-toggle">
      <div>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    
    <div id="sidebar">
      <nav id="global-nav">
        <ul>
          <% if user_signed_in? %>
          <li class="sub-menu">
            <%= link_to 'マイページ', user_path(current_user.id) %>
          </li>
          <li class="sub-menu">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li class="sub-menu">
            <%= link_to 'メモ一覧', memos_path %>
        　</li>
          <li class="sub-menu">
            <%= link_to 'メモを作成する', new_memo_path %>
          </li>
          <% else %>
          <li class="sub-menu">
            <%= link_to "新規登録", new_user_registration_path %>
          </li>
          <li class="sub-menu">
            <%= link_to "ログイン", new_user_session_path %>
          </li>
          <li class="sub-menu">
            <%= link_to 'メモ一覧', memos_path %>
          </li>
        <% end %>
        </ul>
      </nav>
    </div>
    <main id="main">
      <div id="main-in">
        <div id="main-visual">
            <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
